@model WebApplication2.Models.Presentation_Model
@{
    ViewData["Title"] = "My_view";
}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <link rel="~/wwwroot/css/site" href="style.css" />
</head>
<body>
   <h1>Расчет объема усеченного конуса</h1>
   <h3>Высота ,       1 основние,        2 основание</h3>
   <form asp-action="My_view">
            <div class = "input">
                <input asp-for="Height" placeholder="Введите высоту конуса"/>
                <input asp-for="Square_1" placeholder="Введите 1 основание конуса"/>
                <input asp-for="Square_2" placeholder="Введите 2 основание конуса"/>
            </div>
                <h3>Результат расчета</h3>
                <input asp-for="Result"/>
                <input type="submit" value="Calculate conus volume"/>
   </form>
   <img class="conus"  src="~/img/Image1.png"/>
   <img class="formula" src="~/img/Image2.png"/>
</body>
</html>


